@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.the-shadow {
    box-shadow: 8px 8px black;
}